%section.header
  %h2.title Nowletter is newsletters by text

  %h6.docs-header Get started now:
  %h4
    text
    %span.orange-text hello
    to
    %span.blue-text="#{ENV["FRIENDLY_PUBLISH_PHONE_NUMBER"]}"

  .value-props.row
    .four.columns.value-prop
      %b Easy:
      a couple setup texts and you're ready to go.
    .four.columns.value-prop
      %b High engagement:
      Over 90% of texts are opened within minutes.
    .four.columns.value-prop
      %b Scalable:
      send to just a couple recipients, or thousands.

  .row
    %h6
      First 100 texts free. $20/mo for 1000 texts after that.
